<!DOCTYPE html>
<html ng-app="mailhogApp">
  <head>
    <title>MailHog</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="referrer" content="no-referrer">

    <link rel="icon" type="image/png" href="images/hog.png">

    <link rel="stylesheet" href="css/jquery-ui-1.10.4-smoothness.css">
    <link rel="stylesheet" href="css/bootstrap-3.3.2.min.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body ng-controller="MailCtrl" ng-click="keepopen=false">
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container-fluid">
        <div class="col-md-2 col-sm-3">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">
              <svg style="height: 20px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3918.58 497.39">
                <title>Alto Soft</title>
                <path d="M720.06,241.94,772.92,0,626.24,241.66A721.55,721.55,0,0,1,720.06,241.94Z" style="fill:#0997d0"></path>
                <path d="M626.24,241.66,772.92,0,108.38,426.3c91.81-55,186.83-104,288-138.25C470.32,263,548.23,246.39,626.24,241.66Z" style="fill:#14b5da"></path>
                <path d="M626.24,241.66,554.17,360.42,664.58,495.83l55.48-253.89A721.55,721.55,0,0,0,626.24,241.66Z" style="fill:#0f88c9"></path>
                <path d="M554.17,360.42l72.07-118.76c-78,4.73-155.92,21.36-229.86,46.39-101.17,34.26-196.19,83.28-288,138.25L0,495.83Z" style="fill:#267dc1"></path>
                <path d="M3610,14.61h308.54v67.9H3799.25V497.19h-69.88V82.51H3610Z M3276.26,14H3557.2V81.76H3346.66V246.25h179.62V312H3346.66V496.26h-70.4Z M2990.56,12q50.55,0,95.13,19.08a241.15,241.15,0,0,1,129.4,129.24q19,44.4,19,95,0,50-19,94a242,242,0,0,1-129.4,128.92q-44.58,19.08-95.13,19.07t-94.8-19.07A242.85,242.85,0,0,1,2766.69,349.4q-19-44.06-19-94,0-50.64,19-95A242.82,242.82,0,0,1,2818.58,83a245.69,245.69,0,0,1,77.18-52Q2940,12,2990.56,12Zm0,417.66a159.56,159.56,0,0,0,65.53-13.76A172,172,0,0,0,3110,378.54a175.85,175.85,0,0,0,36.25-55.37,173.79,173.79,0,0,0,13.31-67.82,176.26,176.26,0,0,0-13.31-68.15,179.13,179.13,0,0,0-36.25-56,169.5,169.5,0,0,0-53.89-37.67,159.56,159.56,0,0,0-65.53-13.76,157.19,157.19,0,0,0-65.2,13.76,170.42,170.42,0,0,0-53.55,37.67,179,179,0,0,0-36.26,56,176.08,176.08,0,0,0-13.31,68.15,173.61,173.61,0,0,0,13.31,67.82,175.71,175.71,0,0,0,36.26,55.37,173,173,0,0,0,53.55,37.35A157.19,157.19,0,0,0,2990.56,429.65Z M2663.56,253.38a55.6,55.6,0,0,1,8.56,7.58c2.64,2.86,5.05,5.59,7.25,8.23A154.83,154.83,0,0,1,2703.08,311a134.29,134.29,0,0,1,8.57,47.76A50.46,50.46,0,0,1,2711,368a127,127,0,0,1-22.4,66.53,135.42,135.42,0,0,1-47.43,43.81q-29,16.16-64.56,16.14h-43.47q-35.58,0-64.56-16.14a135.24,135.24,0,0,1-47.43-43.81,170.15,170.15,0,0,1-10.54-18.44l61.26-47.43A67.38,67.38,0,0,0,2480.1,392a76.46,76.46,0,0,0,15.48,19.11,69.14,69.14,0,0,0,46.11,17.46H2568q27,0,46.77-17.46A70.22,70.22,0,0,0,2638.53,368a40.64,40.64,0,0,1,.33-5.27,44.24,44.24,0,0,0,.32-5.27,69.19,69.19,0,0,0-5.26-27,71.9,71.9,0,0,0-14.5-22.07,74.21,74.21,0,0,0-21.74-15.48,68.58,68.58,0,0,0-26.35-6.58h-40.18a127.18,127.18,0,0,1-45.78-9.56,136.63,136.63,0,0,1-38.54-24A67,67,0,0,1,2431,236.91a154.15,154.15,0,0,1-23.71-41.83,134,134,0,0,1-8.57-47.76V138.1q3.3-37.54,23.06-66.53a135.34,135.34,0,0,1,47.43-43.81q29-16.14,64.56-16.14h42.81q35.58,0,64.89,16.14a134.64,134.64,0,0,1,47.76,43.81c1.32,2.2,2.74,4.61,4.28,7.24s3,5.06,4.28,7.25l-59.94,46.77a73.16,73.16,0,0,0-25-39.53,67.21,67.21,0,0,0-44.13-15.81h-26.35A71.12,71.12,0,0,0,2517,82.11,67.79,67.79,0,0,0,2495.58,95a74.57,74.57,0,0,0-15.48,19.43,71,71,0,0,0-8.24,23.72,21.66,21.66,0,0,0-.65,5.27v5.27a68.94,68.94,0,0,0,5.26,27,71,71,0,0,0,14.5,22.07,73.76,73.76,0,0,0,21.74,15.48,68.36,68.36,0,0,0,26.35,6.58h40.18a127.48,127.48,0,0,1,45.78,9.56A137.14,137.14,0,0,1,2663.56,253.38Z M2023.06,12q50.55,0,95.13,19.08a241.15,241.15,0,0,1,129.4,129.24q19,44.4,19,95,0,50-19,94a242,242,0,0,1-129.4,128.92q-44.58,19.08-95.13,19.07t-94.8-19.07A242.85,242.85,0,0,1,1799.19,349.4q-19-44.06-19-94,0-50.64,19-95A242.82,242.82,0,0,1,1851.08,83a245.69,245.69,0,0,1,77.18-52Q1972.5,12,2023.06,12Zm0,417.66a159.56,159.56,0,0,0,65.53-13.76,172,172,0,0,0,53.89-37.35,175.85,175.85,0,0,0,36.25-55.37A173.79,173.79,0,0,0,2192,255.35a176.26,176.26,0,0,0-13.31-68.15,179.13,179.13,0,0,0-36.25-56,169.5,169.5,0,0,0-53.89-37.67,159.56,159.56,0,0,0-65.53-13.76,157.19,157.19,0,0,0-65.2,13.76,170.42,170.42,0,0,0-53.55,37.67,179.16,179.16,0,0,0-36.26,56,176.08,176.08,0,0,0-13.31,68.15,173.61,173.61,0,0,0,13.31,67.82,175.88,175.88,0,0,0,36.26,55.37,173,173,0,0,0,53.55,37.35A157.19,157.19,0,0,0,2023.06,429.65Z M1475.58,14.61h308.53v67.9H1664.78V497.19H1594.9V82.51H1475.58Z M1298,425.86h199.71v68.7H1226.51V14.32H1298Z M772.23,497.18,969.72,13.05l197.49,484.13h-72l-14.53-38.3H859.42l-15.19,38.3Zm111-100.39h173L969.72,174.87Z" style="fill:#010101"></path>
              </svg>
            </a>
          </div>
        </div>

        <div class="col-md-10 col-sm-9">
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group left-inner-addon">
              <i class="glyphicon glyphicon-search"></i>

              <input ng-model="searchText" type="text" ng-key-enter="search('containing', searchText)" class="form-control" autocomplete="off" placeholder="Search" id="search" ng-focus="keepopen=true" ng-click="$event.stopPropagation()">

              <div class="list-group" ng-if="searchText.length > 0 && keepopen">
                <a href="#" ng-click="search('containing', searchText)" class="list-group-item">
                  Find messages <strong>containing</strong> {{ searchText }}
                </a>
                <a href="#" ng-click="search('to', searchText)" class="list-group-item">
                  Find messages <strong>to</strong> {{ searchText }}
                </a>
                <a href="#" ng-click="search('from', searchText);" class="list-group-item">
                  Find messages <strong>from</strong> {{ searchText }}
                </a>
              </div>
            </div>
          </form>

          <ul class="nav navbar-nav navbar-right">
            <li>
              <a target="_blank" href="https://github.com/mailhog/MailHog">
                <img src="images/github.png" height="16" alt="GitHub"> GitHub
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2 col-sm-3">
          <ul class="nav nav-pills nav-stacked">
            <li>
              <a href="#" title="Event stream connected" ng-click="toggleStream()">
                <span class="glyphicon glyphicon-off {{ hasEventSource ? 'has-event-source' : 'no-event-source' }}"></span>
                {{ hasEventSource ? 'Connected' : 'Disconnected' }}
              </a>
            </li>

            <li>
              <a href="#" ng-click="backToInboxFirst()">
                Inbox ({{totalMessages}})
              </a>
            </li>

            <li>
              <a href="#" ng-click="deleteAll()">
                <span class="glyphicon glyphicon-remove-circle"></span>
                Delete all messages
              </a>
            </li>
          </ul>

          <div class="well jim-well">
            <h3>Jim</h3>
            <p>
              Jim is a chaos monkey.<br>
              <a href="https://github.com/mailhog/MailHog/blob/master/docs/JIM.md" target="_blank">Find out more at GitHub</a>.
            </p>
            <div ng-if="jim">
              <a href="#" ng-click="disableJim()" class="btn btn-xs btn-danger">Disable Jim</a>
            </div>
            <div ng-if="jim" class="jim-config">
              <div class="jim-config-item">
                <strong>Accept chance</strong>
                <span>{{ jim.AcceptChance * 100 }}%</span>
              </div>
              <div class="jim-config-item">
                <strong>Disconnect chance</strong>
                <span>{{ jim.DisconnectChance * 100 }}%</span>
              </div>
              <div class="jim-config-item">
                <strong>Link speed affect chance</strong>
                <span>{{ jim.LinkSpeedAffect * 100}}%</span>
              </div>
              <div class="jim-config-item">
                <strong>Link speed minimum</strong>
                <span>{{ jim.LinkSpeedMin }}kbps</span>
              </div>
              <div class="jim-config-item">
                <strong>Link speed maximum</strong>
                <span>{{ jim.LinkSpeedMax }}kbps</span>
              </div>
              <div class="jim-config-item">
                <strong>Reject sender chance</strong>
                <span>{{ jim.RejectSenderChance * 100 }}%</span>
              </div>
              <div class="jim-config-item">
                <strong>Reject recipient chance</strong>
                <span>{{ jim.RejectRecipientChance * 100 }}%</span>
              </div>
              <div class="jim-config-item">
                <strong>Reject auth chance</strong>
                <span>{{ jim.RejectAuthChance * 100 }}%</span>
              </div>
            </div>
            <div ng-if="!jim">
              <a href="#" ng-click="enableJim()" class="btn btn-xs btn-default">Enable Jim</a>
            </div>
          </div>
        </div>

        <div class="col-md-10 col-sm-9 content">
          [: .Content :]
        </div>
      </div>
    </div>

    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/jquery-ui-1.10.4.min.js"></script>
    <script src="js/bootstrap-3.3.2.min.js"></script>
    <script src="js/angular-1.3.8.js"></script>
    <script src="js/moment-2.8.4.js"></script>
    <script src="js/filesize-3.1.2.min.js"></script>
    <script src="js/strutil.js"></script>
    <script src="js/controllers.js"></script>
    <script>
      function endsWith(str, suffix) {
        return str.indexOf(suffix, str.length - suffix.length) !== -1;
      }

      var apiHost = "[: .APIHost :]";
      if(apiHost.length > 0 && !endsWith(apiHost, "/")) {
        apiHost += "/";
      }

      var columns = [15,15,40,20,10];
    </script>
  </body>
</html>
